.App {
  background-color: rgb(24, 23, 67);
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App header {
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
}

.App footer {
  margin: 20px 0;
}